<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".frontend.screens.UserGuide"
            android:exported="false" />
        <activity
            android:name=".frontend.screens.ForgotPassword"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".frontend.screens.Settings"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".frontend.screens.Results"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".frontend.screens.bookmarks.Bookmarks"
            android:configChanges="orientation|screenSize"
            android:exported="false" /> <!-- TODO: CHANGE THEME -->
        <activity
            android:name=".frontend.screens.Registration"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".frontend.screens.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.screens.Home"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <service android:name=".backend.DailyVerseService" />
    </application>

</manifest>